KERNEL_ARCH_AFLAGS=-f elf32
KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_flush.o \
$(ARCHDIR)/isr_declarations.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/irq_declarations.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/keyboard_driver.o
