KERNEL_ARCH_AFLAGS=-f elf
KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/KernelManager.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/GdtManager.o \
$(ARCHDIR)/gdt_flush.o \
$(ARCHDIR)/InterruptManager.o \
$(ARCHDIR)/idt_flush.o \
$(ARCHDIR)/MemoryManager.o \
$(ARCHDIR)/isr_declarations.o \
$(ARCHDIR)/isr_handler.o \
$(ARCHDIR)/irq_declarations.o \
$(ARCHDIR)/irq_handler.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/TtyManager.o \
$(ARCHDIR)/keyboard_driver.o
